<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Agregar Servicio</title>
</head>
<body>
    <h1>Agregar nuevo servicio</h1>
    <form method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required></textarea><br>
        <input type="submit" value="Enviar">
    </form>
    <a href="{{ url_for('index') }}">Volver</a>
</body>
</html>
